/* CSS Document */


/* General Style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: flex;
}

body {
    font-family: Helvetica;
}

.logo {
    background-image: url(../img/login-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 625px;
}

.login-form {
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
}

.login {
    margin: 94px auto 24px auto;
    width: 376px;
}

.image-logo {
    height: 55.72px;
}

.gm-welcome {
    color: #2C373E;
    font-family: "Lato";
    font-size: 28px;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    margin-bottom: 89px;
}

.button {
    background-color: red;
}

.title-text {
    display: flex;
    height: 79px;
}

.title-login,
.title-signup {
    color: #2C373E;
    border: none;
    background-color: white;
    padding-right: 100px;
    height: 38px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: bold;
}

.title-signup {
    padding-left: 10px;
}

.forgot-password {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    float: right;
    font-size: 13px;
    margin-bottom: 24px;
    text-decoration: none;
}

.show {
    position: absolute;
    display: block;
    top: 26px;
    text-decoration: none;
    right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #F73631;
}

.button {
    color: white;
    text-transform: uppercase;
}

.btn-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-top: 107px;
    color: #2C373E;
}

.down-arrow::after {
    content: "";
    display: inline-block;
    background-image: url(../img/iconmonstr-arrow-65.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 11px;
}

.font-username,
.font-password {
    position: relative;
}

.font-username i,
.font-password i {
    position: absolute;
    top: 25px;
    left: 20px;
    color: darkgrey;
}


/* Full-width inputs */

input[type=text],
input[type=password],
input[type=button] {
    width: 100%;
    height: 50px;
    padding: 16px 89px 16px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.title-login.active,
.title-signup.active {
    border-bottom: 2px solid #2C373E;
}

@media only screen and (max-width: 375px) {
    .image-logo {
        height: 45px;
    }
    .login {
        margin: 50px 10px 24px 10px;
    }
    .gm-welcome {
        margin-bottom: 50px;
    }
    .btn-text {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .form {
        margin: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        display: block;
    }
    .logo {
        width: 100%;
        height: 121px;
        display: flex;
    }
    .form {
        margin: 0 auto;
    }
}